<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= blog.title %> | Blog Project</title>
</head>
<body>
    <p><a href="/blog">Back to Blogs</a></p>
    <h1><%=blog.title %></h1>
    <h3><%=blog.author %> - <%= blog.created %> </h3>
    <p><%=blog.content %></p>  
    
    <button type="button" id="deleteButton">Delete Post</button>

    <script>
        $(document).ready(function (){
            $("#deleteButton").click(function () {
                $.ajax({
                    type: "delete",
                    url: "/blog/",
                });
            });
        });
        </script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</body>
</html>